html,
body {
    min-height: 100%;
}

body {
    background-image: url(../imagens/desenho-loucao.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}